[Desktop Entry]
Exec=linux-dashboard
GenericName=linux-dashboard
Icon=/home/nano/GitHub/linux-dashboard/icon.svg
Name=linux-dashboard
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
SingleMainWindow=true
StartupWMClass=linux-dashboard
